/****************
GENERAL
****************/

html {
    font-size: 23px;
    background: url("../imagenes/431.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

header {
	text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
	background-color: #616E87;
	width: 40%;
	height: 60px;
	border-radius: 4px;
}

body {
    color: #ffffff;
}

body a, body a:visited {
    color: #616E87;
}

img{
	border: 2px solid gray;
	border-radius: 5px;
	margin: 5%;
	margin-bottom: 1px;
	margin-top: 40px;
	width:19%;
}

body a:hover {
    color: #8FBCBB;
}

.main ul {
    background-color: #202020;
}

input{
    border: 1px dotted #999;
    border-radius: 30px;
}

input[type=button]{
	width: 19%;
	margin-left: 5%;
	margin-right: 5%;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px;
}
input[type=image]{
	border: 3px solid #999;
    border-radius: 30px;
}